extends layout

block title
    | Explore

block styles
    link(rel='stylesheet', type='test/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css')

block content 
    div(class='container')
        div(class='center-block text-center')
            //- todolater: First swipe results in text movement
            h1 Your Email is #{email}
            for image, index in images
                if index == 0
                    div(class='imageContainer')
                        img(src='#{image.url}', height=200,width=200, id='#{index}', data-id='#{image._id}')
                        h4= image.description
                        h4= image.tags
                else
                    div(class='imageContainer hidden')
                        img(src='#{image.url}', height=200,width=200, id='#{index}', data-id='#{image._id}')
                        h4= image.description
                        h4= image.tags
            br
            a(href='/profile') Profile 

block script
    script.
        $(document).ready(function() {
            //todolater: implement swipedown for bookmark. temporarily click
            $('img').on('swipedown', function(){
                imageId = $(this).data('id');
                $(this).addClass('animated bounce');
                var that = $(this);
                setTimeout(function() {
                   that.removeClass('animated bounce'); 
                }, 500);
                $.post('/bookmark/' + imageId, {}, function(data, status){
                    alert(data);
                });
            });
            $('img').on('swiperight', function() {
                var originalId = parseInt($(this).attr('id'));
                console.log(originalId);
                var nextId = originalId + 1;
                $(this).addClass('animated bounceOutRight');
                var imageId = $(this).data('id');
                var divContainer = $(this).parent();
                setTimeout(function(){
                    //alert(nextId);
                    divContainer.remove();
                    $('#' + nextId).parent().removeClass('hidden').addClass('animated bounceInUp');
                    $.post('/upvote/' + imageId, {}, function(data, status) {
                        console.log(data);
                    })
                },500);
            });
            $('img').on('swipeleft', function() {
                var originalId = parseInt($(this).attr('id'));
                console.log(originalId);
                var nextId = originalId + 1;
                $(this).addClass('animated bounceOutLeft');
                var imageId = $(this).data('id');
                setTimeout(function(){
                    //alert(nextId);
                    $('#' + originalId).parent().remove();
                    $('#' + nextId).parent().removeClass('hidden').addClass('animated bounceInUp');
                    $.post('/downvote/' + imageId, {}, function(data, status) {
                        alert(data);
                    })
                },500);
            });
            $('img').on('dragstart', function(event){
                event.preventDefault();
            });
        });
